@inject ILanguageContainerService languageContainer
@inherits LayoutComponentBase

<section class="w-full py-16 @backgroundValue">
    <div class="px-4 mx-auto sm:max-w-xl md:max-w-full md:px-24 lg:px-8">
        <div class="grid gap-5 row-gap-8 lg:grid-cols-2">
            <div class="@order">
                @{ if (content == "Brazil")
                    {
                        <img class="object-cover w-full h-56 rounded shadow-lg sm:h-full" alt="Welcome to Brazil Image" src="Images/WelcomeBrazil.webp" />
                    }
                    else
                    {
                        <img class="object-cover w-full h-56 rounded shadow-lg sm:h-full" alt="Why Immigrant Consulting Image" src="Images/Citizens.webp" />
                    }
                }
            </div>
            <div class="flex flex-col justify-center">
                <div class="w-full mb-6 text-center">
                    @{ if (content == "Brazil")
                        {
                            <h1 class="TittleStyle">@languageContainer.Keys["BrazilIs"]</h1>
                        }
                        else
                        {
                            <h1 class="TittleStyle">@languageContainer.Keys["WhyUs"]</h1>
                        }
                    }
                    <Separator></Separator>
                </div>
                <div class="grid gap-5 row-gap-8">
                    <div class="@borderDirection rounded border-secondary">
                        <div class="h-full p-5 shadow-custom @roundedDirection ">
                            @{ if (content == "Brazil")
                                {
                                    <p class="text-lg leading-relaxed text-gray-700">@languageContainer.Keys["BrazilIsContent"]</p>
                                }
                                else
                                {
                                    <p class="text-lg leading-relaxed text-gray-700">@languageContainer.Keys["WhyUsContent"]</p>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

    [Parameter]
    public bool invertOrder { get; set; }

    [Parameter]
    public string content { get; set; }

    public string order => invertOrder ? "order-last" : "";

    public string borderDirection => invertOrder ? "border-r-4" : "border-l-4";
    public string roundedDirection => invertOrder ? "rounded-l" : "rounded-r";

    public string contentValue => content == "Brazil" ? "Brazil" : "WhyUs";

    public string backgroundValue => content == "Brazil" ? " " : "bg-gray-100";


    protected override void OnInitialized()
    {
        // This will make the current component gets updated whenever you change the language of the application
        languageContainer.InitLocalizedComponent(this);
    }
}