
@inject ILanguageContainerService languageContainer
@inject NavigationManager NavigationManager



<nav class="z-50 text-white w-full h-15v bg-primary">
    <div class="container flex flex-col items-center p-5 mx-auto text-lg text-center sm:flex-row sm:justify-evenly md:justify-items-start">
        <!-- Menu -->
        <div>
            <a href="" class="flex items-center mb-4 transform md:mb-0 hover:scale-105">
                <img class=" w-40 h-16 lg:w-44 lg:h-20 .brightness-150" src="Images/Logos/Logo3.jpg" alt="logo" />
            </a>
        </div>

        <div class="hidden mx-auto lg:block">
            <ul class="flex items-center justify-center font-semibold font-heading space-x-12">
                <li><a href="" class="link">@languageContainer.Keys["Home"]</a></li>
                <li><a href="About" class="link">@languageContainer.Keys["About"]</a></li>
                <li><a href="Contact" class="link">@languageContainer.Keys["Contact"]</a></li>
                <li><a href="Services" class="link">@languageContainer.Keys["Services"]</a></li>
            </ul>
        </div>

        <LanguageSelector hiddenAvailable="true" ></LanguageSelector>

        <!-- Movil Menu -->

        <div class="block w-1/6 lg:hidden lg:w-4/6 ">
            <button type="button" class="text-white hover:text-terciary focus:outline-none focus:text-terciary" @onclick="ToggleNavMenuMovile">
                <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                    <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                </svg>
            </button>

            <ul @onclick="ToggleNavMenuMovile" class="@HideNavMenuMovile absolute left-0 z-50 w-full sm:mt-6 text-center border-t border-b border-terciary bg-primary font-semibold ">
                <li><a href="" class="link">@languageContainer.Keys["Home"]</a></li>
                <li><a href="About" class="link">@languageContainer.Keys["About"]</a></li>
                <li><a href="Contact" class="link">@languageContainer.Keys["Contact"]</a></li>
                <li><a href="Services" class="link">@languageContainer.Keys["Services"]</a></li>
                
                <LanguageSelector hiddenAvailable="false"></LanguageSelector>
                
            </ul>
            
        </div>
    </div>
</nav>



@code
{
   
    private bool isNavMenuHidden = true;

    private string HideNavMenu => isNavMenuHidden ? "hidden" : null;

    private void ToggleNavMenu()
    {
        isNavMenuHidden = !isNavMenuHidden;
    }

    private bool isNavMenuMovileHidden = true;

    private string HideNavMenuMovile => isNavMenuMovileHidden ? "hidden" : null;

    private void ToggleNavMenuMovile()
    {
        isNavMenuMovileHidden = !isNavMenuMovileHidden;
    }

    private bool isNavMenuMovileServicesHidden = true;

    private string HideNavMenuMovileServices => isNavMenuMovileServicesHidden ? "hidden" : null;

    private void ToggleNavMenuMovileServices()
    {
        isNavMenuMovileServicesHidden = !isNavMenuMovileServicesHidden;
    }

    protected override void OnInitialized()
    {
        // This will make the current component gets updated whenever you change the language of the application
        languageContainer.InitLocalizedComponent(this);

    }
}
