
@inject ILanguageContainerService languageContainer
@inject NavigationManager NavigationManager

<div id="navbar-scroll" class="  flex flex-wrap sticky top-0 z-50 place-items-center">
    <section class="relative mx-auto">
        <!-- navbar -->
        <nav class="flex justify-between w-screen text-white bg-primary">
            <div class="flex items-center w-full px-5 py-6 xl:px-12">
                <div class="flex transform w-36 hover:scale-105">
                    <NavLink href=""><img class="h-16 brightness-100" src="Images/Logos/Logo3Final.webp" alt="logo" /></NavLink>
                </div>

                <ul class="hidden px-4 mx-auto space-x-8 md:flex ">
                    <li><NavLink href="" class="link" ActiveClass="link-active" Match=@NavLinkMatch.All>@languageContainer.Keys["Home"]</NavLink></li>
                    <li><NavLink href="About" class="link" ActiveClass="link-active" Match=@NavLinkMatch.All>@languageContainer.Keys["About"]</NavLink></li>
                    <li><NavLink href="Contact" class="link" ActiveClass="link-active" Match=@NavLinkMatch.All>@languageContainer.Keys["Contact"]</NavLink></li>
                    <li><NavLink href="Services" class="link" ActiveClass="link-active" Match=@NavLinkMatch.All>@languageContainer.Keys["Services"]</NavLink></li>
                </ul>

                <LanguageSelector></LanguageSelector>
            </div>
            <!-- Responsive navbar -->

            <div class="self-center mr-12 navbar-burger md:hidden">
                <button type="button" class="text-white hover:text-terciary focus:outline-none focus:text-terciary" @onclick="ToggleNavMenuMovile">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>

                <ul @onclick="ToggleNavMenuMovile" class="@HideNavMenuMovile absolute left-0 z-50 w-full pb-4 mt-6 text-center border-t border-terciary bg-primary">
                    <li ><NavLink href="" class="link h-16" ActiveClass="link-active-movile" Match=@NavLinkMatch.All>@languageContainer.Keys["Home"]</NavLink></li>
                    <li ><NavLink href="About" class="link h-16" ActiveClass="link-active-movile" Match=@NavLinkMatch.All>@languageContainer.Keys["About"]</NavLink></li>
                    <li ><NavLink href="Contact" class="link h-16" ActiveClass="link-active-movile" Match=@NavLinkMatch.All>@languageContainer.Keys["Contact"]</NavLink></li>
                    <li ><NavLink href="Services" class="link h-16" ActiveClass="link-active-movile" Match=@NavLinkMatch.All>@languageContainer.Keys["Services"]</NavLink></li>
                    <LanguageSelector changeClass="true"></LanguageSelector>
                </ul>
            </div>
        </nav>
    </section>
</div>


@code
{
   
    private bool isNavMenuHidden = true;

    private string HideNavMenu => isNavMenuHidden ? "hidden" : null;


    private void ToggleNavMenu()
    {
        isNavMenuHidden = !isNavMenuHidden;
    }

    private bool isNavMenuMovileHidden = true;

    private string HideNavMenuMovile => isNavMenuMovileHidden ? "hidden" : null;

    private void ToggleNavMenuMovile()
    {
        isNavMenuMovileHidden = !isNavMenuMovileHidden;
    }

    private bool isNavMenuMovileServicesHidden = true;

    private string HideNavMenuMovileServices => isNavMenuMovileServicesHidden ? "hidden" : null;

    private void ToggleNavMenuMovileServices()
    {
        isNavMenuMovileServicesHidden = !isNavMenuMovileServicesHidden;
    }

    protected override void OnInitialized()
    {
        // This will make the current component gets updated whenever you change the language of the application
        languageContainer.InitLocalizedComponent(this);

    }
}
