@inject ILanguageContainerService languageContainer

<section class="w-full lg:h-screen">
    <div class="flex items-center justify-center min-w-screen ">
        <div class="w-full px-5 py-16 text-gray-800">
            <div class="w-full mx-auto max-w-screen-2xl">
                <div class="max-w-2xl mx-auto text-center">
                    <h1 class="TittleStyle">@languageContainer.Keys["WhatOurClientsSay"]</h1>
                    <Separator></Separator>
                </div>
                <div class="items-start -mx-3 overflow-x-auto scrollbar-none h-60v md:flex">
                    <div class="px-3 md:w-1/3">
                        <div class="w-full p-5 mx-auto mb-6 font-light text-gray-800 bg-white border border-gray-200 rounded-lg">
                            <div class="flex items-center w-full mb-4">
                                <div class=" overflow-hidden border border-gray-200 rounded-full bg-gray-50">
                                    <img src="Images/Flags/grecia.webp" width="40" height="40" alt="" />
                                </div>
                                <div class="flex-grow pl-3">
                                    <h1 class="text-sm font-bold text-gray-600 uppercase">Kleoniki Zumba</h1>
                                </div>
                            </div>
                            <div class="w-full">
                                <p class="text-base leading-relaxed text-gray-700"><span class="mr-1 text-lg italic font-bold leading-none text-gray-400">"</span>@languageContainer.Keys["KleonikiSay"]<span class="ml-1 text-lg italic font-bold leading-none text-gray-400">"</span></p>
                            </div>
                        </div>
                        <div class="w-full p-5 mx-auto mb-6 font-light text-gray-800 bg-white border border-gray-200 rounded-lg">
                            <div class="flex items-center w-full mb-4">
                                <div class="overflow-hidden border border-gray-200 rounded-full bg-gray-50">
                                    <img width="40" height="40" src="Images/Flags/australia.webp" alt="" />
                                </div>
                                <div class="flex-grow pl-3">
                                    <h1 class="text-sm font-bold text-gray-600 uppercase">Amber Johnston.</h1>
                                </div>
                            </div>
                            <div class="w-full">
                                <p class="text-base leading-relaxed text-gray-700"><span class="mr-1 text-lg italic font-bold leading-none text-gray-400">"</span>@languageContainer.Keys["AmberSay"]<span class="ml-1 text-lg italic font-bold leading-none text-gray-400">"</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="px-3 md:w-1/3">
                        <div class="w-full p-5 mx-auto mb-6 font-light text-gray-800 bg-white border border-gray-200 rounded-lg">
                            <div class="flex items-center w-full mb-4">
                                <div class="overflow-hidden border border-gray-200 rounded-full bg-gray-50">
                                    <img width="40" height="40" src="Images/Flags/rusia.webp" alt="" />
                                </div>
                                <div class="flex-grow pl-3">
                                    <h1 class="text-sm font-bold text-gray-600 uppercase">Anna Lavlinskaya.</h1>
                                </div>
                            </div>
                            <div class="w-full">
                                <p class="text-base leading-relaxed text-gray-700"><span class="mr-1 text-lg italic font-bold leading-none text-gray-400">"</span>@languageContainer.Keys["AnnaSay"]<span class="ml-1 text-lg italic font-bold leading-none text-gray-400">"</span></p>
                            </div>
                        </div>
                        <div class="w-full p-5 mx-auto mb-6 font-light text-gray-800 bg-white border border-gray-200 rounded-lg">
                            <div class="flex items-center w-full mb-4">
                                <div class="overflow-hidden border border-gray-200 rounded-full bg-gray-50">
                                    <img width="40" height="40" src="Images/Flags/venezuela.webp" alt="" />
                                </div>
                                <div class="flex-grow pl-3">
                                    <h1 class="text-sm font-bold text-gray-600 uppercase">Francisco Servigna.</h1>
                                </div>
                            </div>
                            <div class="w-full">
                                <p class="text-base leading-relaxed text-gray-700"><span class="mr-1 text-lg italic font-bold leading-none text-gray-400">"</span>@languageContainer.Keys["FranciscoSay"]<span class="ml-1 text-lg italic font-bold leading-none text-gray-400">"</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="px-3 md:w-1/3">
                        <div class="w-full p-5 mx-auto mb-6 font-light text-gray-800 bg-white border border-gray-200 rounded-lg">
                            <div class="flex items-center w-full mb-4">
                                <div class="overflow-hidden border border-gray-200 rounded-full bg-gray-50">
                                    <img width="40" height="40" src="Images/Flags/paises-bajos.webp" alt="" />
                                </div>
                                <div class="flex-grow pl-3">
                                    <h1 class="text-sm font-bold text-gray-600 uppercase">Peter Frans.</h1>
                                </div>
                            </div>
                            <div class="w-full">
                                <p class="text-base leading-relaxed text-gray-700">
                                    <span class="mr-1 text-lg italic font-bold leading-none text-gray-400">"</span>@languageContainer.Keys["PeterSay"]<span class="ml-1 text-lg italic font-bold leading-none text-gray-400">"</span>
                                </p>
                            </div>
                        </div>
                        <div class="w-full p-5 mx-auto mb-6 font-light text-gray-800 bg-white border border-gray-200 rounded-lg">
                            <div class="flex items-center w-full mb-4">
                                <div class="overflow-hidden border border-gray-200 rounded-full bg-gray-50">
                                    <img width="40" height="40" src="Images/Flags/escocia.webp" alt="" />
                                </div>
                                <div class="flex-grow pl-3">
                                    <h1 class="text-sm font-bold text-gray-600 uppercase">Scott Salmon.</h1>
                                </div>
                            </div>
                            <div class="w-full">
                                <p class="text-base leading-relaxed text-gray-700"><span class="mr-1 text-lg italic font-bold leading-none text-gray-400">"</span>@languageContainer.Keys["ScottSay"]<span class="ml-1 text-lg italic font-bold leading-none text-gray-400">"</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    protected override void OnInitialized()
    {
        // This will make the current component gets updated whenever you change the language of the application
        languageContainer.InitLocalizedComponent(this);
    }
}