@inherits LayoutComponentBase
@page "/Services"
@layout SecondaryLayout
@inject ILanguageContainerService languageContainer


<div class="max-w-screen-md px-4 mx-auto mt-24 mb-24 text-lg leading-relaxed text-gray-700 lg:px-0">
    <h1 class="TittleStyle">@languageContainer.Keys["Immigration"]</h1>

    <Separator></Separator>

    <p class="pb-6">@languageContainer.Keys["ImmigrationText1"]</p>

    <p class="pb-6">@languageContainer.Keys["ImmigrationText2"]</p>

    <p class="pb-6">@languageContainer.Keys["ImmigrationText3"]</p>

    <p class="pb-6">@languageContainer.Keys["ImmigrationText4"]</p>

    <div class="pl-4 mb-8  border-l-4 rounded border-secondary">
        <ul class="pl-6 list-disc  pt-4 pb-4">
            <li class="pb-2">@languageContainer.Keys["ImmigrationList1"]</li>
            <li class="pb-2">@languageContainer.Keys["ImmigrationList2"]</li>
            <li class="pb-2">@languageContainer.Keys["ImmigrationList3"]</li>
            <li class="pb-2">@languageContainer.Keys["ImmigrationList4"]</li>
            <li class="pb-2">@languageContainer.Keys["ImmigrationList5"]</li>
            <li class="pb-2">@languageContainer.Keys["ImmigrationList6"]</li>
            <li class="pb-2">@languageContainer.Keys["ImmigrationList7"]</li>
            <li class="pb-2">@languageContainer.Keys["ImmigrationList8"]</li>
            <li class="pb-2">@languageContainer.Keys["ImmigrationList9"]</li>
            <li class="pb-2">@languageContainer.Keys["ImmigrationList10"]</li>
            <li class="pb-2">@languageContainer.Keys["ImmigrationList11"]</li>
            <li class="pb-2">@languageContainer.Keys["ImmigrationList12"]</li>
            <li class="pb-2">@languageContainer.Keys["ImmigrationList13"]</li>
            <li class="pb-2">@languageContainer.Keys["ImmigrationList14"]</li>
            <li class="pb-2">@languageContainer.Keys["ImmigrationList15"]</li>
            <li class="pb-2">@languageContainer.Keys["ImmigrationList16"]</li>
            <li class="pb-2">@languageContainer.Keys["ImmigrationList17"]</li>
            <li class="pb-2">@languageContainer.Keys["ImmigrationList18"]</li>
        </ul>
    </div>

    <h1 class="TittleStyle">@languageContainer.Keys["BrazilianDocuments"]</h1>

    <Separator></Separator>

    <p class="pb-6">@languageContainer.Keys["BrazilianDocumentsText"]</p>

    <div class="pl-4 mb-8  border-l-4 rounded border-secondary">
        <ul class="pl-6 list-disc  pt-4 pb-4">
            <li class="pb-2">@languageContainer.Keys["BrazilianDocumentsList1"]</li>
            <li class="pb-2">@languageContainer.Keys["BrazilianDocumentsList2"]</li>
            <li class="pb-2">@languageContainer.Keys["BrazilianDocumentsList3"]</li>
            <li class="pb-2">@languageContainer.Keys["BrazilianDocumentsList4"]</li>
            <li class="pb-2">@languageContainer.Keys["BrazilianDocumentsList5"]</li>
            <li class="pb-2">@languageContainer.Keys["BrazilianDocumentsList6"]</li>
            <li class="pb-2">@languageContainer.Keys["BrazilianDocumentsList7"]</li>
            <li class="pb-2">@languageContainer.Keys["BrazilianDocumentsList8"]</li>

        </ul>
    </div>

    <h1 class="TittleStyle">@languageContainer.Keys["GlobalMobility"]</h1>

    <Separator></Separator>

    <p class="pb-6">@languageContainer.Keys["GlobalMobilityText1"]</p>
    <p class="pb-6">@languageContainer.Keys["GlobalMobilityText2"]</p>
    <p class="pb-6">@languageContainer.Keys["GlobalMobilityText3"]</p>
    <p class="pb-6">@languageContainer.Keys["GlobalMobilityText4"]</p>

    <div class="pl-4 mb-8  border-l-4 rounded border-secondary">
        <ul class="pl-6 list-disc  pt-4 pb-4">
            <li class="pb-2">@languageContainer.Keys["GlobalMobilityList1"]</li>
            <li class="pb-2">@languageContainer.Keys["GlobalMobilityList2"]</li>
            <li class="pb-2">@languageContainer.Keys["GlobalMobilityList3"]</li>
            <li class="pb-2">@languageContainer.Keys["GlobalMobilityList4"]</li>
        </ul>
    </div>

    <p class="pb-6">@languageContainer.Keys["GlobalMobilityText5"]</p>

    <h1 class="TittleStyle">@languageContainer.Keys["Acquiring"]</h1>

    <Separator></Separator>

    <p class="pb-6">@languageContainer.Keys["AcquiringText1"]</p>
    <p class="pb-6">@languageContainer.Keys["AcquiringText2"]</p>

    <div class="pl-4 mb-8  border-l-4 rounded border-secondary">
        <ul class="pl-6 list-disc  pt-4 pb-4">
            <li class="pb-2">@languageContainer.Keys["AcquiringList1"]</li>
            <li class="pb-2">@languageContainer.Keys["AcquiringList2"]</li>
            <li class="pb-2">@languageContainer.Keys["AcquiringList3"]</li>
            <li class="pb-2">@languageContainer.Keys["AcquiringList4"]</li>
            <li class="pb-2">@languageContainer.Keys["AcquiringList5"]</li>
        </ul>
    </div>

    <h1 class="TittleStyle">@languageContainer.Keys["InternationalAffairs"]</h1>

    <Separator></Separator>

    <p class="pb-6">@languageContainer.Keys["InternationalAffairsText1"]</p>
    <p class="pb-6">@languageContainer.Keys["InternationalAffairsText2"]</p>
    <p class="pb-6">@languageContainer.Keys["InternationalAffairsText3"]</p>

    <div class="pl-4 mb-8  border-l-4 rounded border-secondary">
        <ul class="pl-6 list-disc  pt-4 pb-4">
            <li class="pb-2">@languageContainer.Keys["InternationalAffairsList1"]</li>
            <li class="pb-2">@languageContainer.Keys["InternationalAffairsList2"]</li>
            <li class="pb-2">@languageContainer.Keys["InternationalAffairsList3"]</li>
            <li class="pb-2">@languageContainer.Keys["InternationalAffairsList4"]</li>
            <li class="pb-2">@languageContainer.Keys["InternationalAffairsList5"]</li>
            <li class="pb-2">@languageContainer.Keys["InternationalAffairsList6"]</li>
        </ul>
    </div>
</div>


@code {

    protected override void OnInitialized()
    {
        // This will make the current component gets updated whenever you change the language of the application
        languageContainer.InitLocalizedComponent(this);

    }

}
